@font-face {
  font-family: Retro Gaming;
  src: url("../src/fonts/Retro\ Gaming.ttf");
}
* {
  font-family: "Retro Gaming";
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}
